@import "~bootstrap/dist/css/bootstrap.min.css";
@import '~font-awesome/css/font-awesome.css';

/* You can add global styles to this file, and also import other style files */
/* * {
    box-sizing:border-box; 
} */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

html {
    height: 100%;
}

.modal-content {
    background: snow;
}

.modal {
    top:10%;
}


/* @media (min-width: 1200px) {
    body {
        height: 100%;
    }

} */